@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  /* Colores personalizados */
  --color-primary: #14334A;
  --color-secondary: #657FB4;
  --color-accent-green: #83B983;
  --color-accent-yellow: #F5CC78;
  --color-text-dark: #030304;
  --color-text-gray: #5C5C5E;
  --color-background: #FFFFFF;
  --color-background-alt: #FCFBF8;
  --color-background-footer: #F9FAFB;
  --color-background-ana:#E8E9DC;
  --color-background-beneficios:#F8F4ED;
  --color-button:#F8F4ED;
  --font-sans: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.animated-gradient {
  background: linear-gradient(-45deg, #E8E9DC, #F8F4ED, #E8E9DC, #FCFBF8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}